[Unit]
Description=Kanshi - display output management
PartOf=graphical-session.target
After=graphical-session.target
 
[Service]
Type=simple
Environment="WAYLAND_DISPLAY=wayland-1"
ExecStart=/usr/bin/kanshi -c %h/.config/kanshi/config
 
[Install]
WantedBy=graphical-session.target
